<!-- LOGIN -->
<h1>Entrar</h1>
<div class="card">
  <div class="card-body">
    <form action="/login" method="POST">
      <label for="senha">Email: </label>
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Digite seu email"
        required
      />
      <label for="senha">Senha: </label>
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Digite a senha"
      />
      <button
        class="btn btn-outline-success mt-3"
        type="submit"
      >Entrar</button>
    </form>
  </div>
</div>